/deep/ .ui-carousel-item{
    background: transparent !important;
  }

.customiser {
  max-width: 1260px;
  min-width: 900px;
  margin: 0 auto;
}

.build-a-board {
  margin: 0 auto;
  color: white;
  box-sizing: border-box;
  max-width: 1260px;
  text-align: center;
  padding: 20px 40px;
  background-color: #2d2d2d;
}

.loader:after {
  background: #2d2d2d;
}



.board {
  position: relative;
}
.board-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 130px);
  margin-top: 130px;
  top: 0;
  left: 0;
  position: absolute;
}

.shape h2, .lengths h2 {
  font-size: 0.8em;
  font-weight: 400;
}

.main-image-holder {
  display: block;
  position: relative;
}



.bottom-nav-customiser {
  width: 100%;
  background-color: #7d7d7d;
}

.bottom-nav-customiser .bar {
  background-color: #2d2d2d;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
}

.menu-item-customiser {
  padding: 5px 10px;
  border: 1px solid transparent;
}

.menu-item-customiser:hover {
  background-color: #444;
  cursor: pointer;
}

.bottom-nav-customiser .active {
  background-color: #f2f2f2;
  color: #2d2d2d;
}

.right-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  width: 300px;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.right-bottom-bar {
  padding: 20px;
  box-sizing: border-box;
  color: white;
  display: block;
  background-color: #4d4d4d;
  position: relative;
}

.current-config {
  color: white;
  font-size: 1em;
  text-align: center;
}

.boards {
  padding: 20px 300px 20px 0;
  min-height: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;

}

.board {
  width: 200px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board h2 {
  text-align: center;
  color: #f2f2f2;
}

.board img {
  max-height: 400px;
  margin: 0 auto;
  width: auto;
}

.bottom-choice {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topsheet {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shape {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidewall {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidewall .item {
  width: 50px;
}

.construction h2 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 0;
  padding: 0px 0 10px;
  margin-bottom: 0;
}

.construction-inner:first-child {
  margin-top: 0;
}

.construction-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.construction {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.construction .item-image {
  object-fit: cover;
}

.lengths {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hvr-shutter-out-horizontal:before {
  color: white !important;
}

.item {
  margin: 0 10px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 3px solid transparent;
  justify-content: center;
  align-items: center;
}

.base .item {
  width: auto;
  box-sizing: border-box;
  width: 100px;
}

.topsheet .item {
  width: auto;
  box-sizing: border-box;
  width: 100px;
}

.item:hover {
  cursor: pointer;
  border: 3px solid #4CB4DF;
}

.item-image {
  width:100%;
  height:100%;
  animation-duration: 0.4s;
  object-fit:contain;
  overflow: hidden;
}

.selected {
  border: 3px solid #4CB4DF;
}

.tick {
  position: absolute;
  bottom: 0;
  right: 0;
  min-height: 0px !important;
  width: 40px !important;
}

.bottom-bar {
  background-color: #2d2d2d;
  height: 54px;
  display: flex;
  color: #f2f2f2;
  align-items: center;
}

.bottom-bar span {
  background-color: #f2f2f2;
  color: #2d2d2d;
  padding: 5px 10px;
}

.hvr-shutter-out-horizontal {
  background-color: transparent;
}

.hvr-shutter-out-horizontal:hover {
  cursor: pointer;
}

.bottom-choice {
  overflow: hidden;
  color: #d3d3d3;
  font-size: 2em;
}

.bottom-choice span:hover {
  cursor: pointer;
  color: #c4c4c4;
}

.next {
  display: flex;
  flex: 1;
  margin: 0 30px;
  justify-content: flex-end;
}

.previous {
  display: flex;
  flex: 1;
  margin: 0 30px;
  justify-content: flex-start;
}

.subheading {
  font-size: 1.0em;
  margin-bottom: 2px;
}

.config-container {
  display: flex;
  align-items: center;
}

.cost {
  font-size: 1.1em;
  flex: 1;
  margin-bottom: 0;
  margin-top:0;
  text-align: right;
  font-weight: bold;
}

.config-content {
  font-size: 0.8em;
  flex: 2;
  margin-bottom: 0;
  margin-top:0;
  font-weight: lighter;
}

.total {
  font-weight: lighter;
}

.total span {
  font-weight: bold;
  font-size: 1.5em;
}

.total-footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.mobile {
  display: none;
}

.construction .item {
  padding: 0;
}

@media only screen and (max-width: 900px) {
  .customiser {
    width: 100%;
    min-width: 0;
  }

  .boards {
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
  }

  .mobile {
    display: flex;
  }

  .base .item, .topsheet .item {
    width: 100px;
  }

  .desktop {
    display: none;
  }

  .main-image-holder img {
    min-height: 0;
  }

  .bottom-nav-customiser .bar {
    justify-content: normal;
    overflow: auto;
    padding: 10px;
  }

  .bottom-choice {
    justify-content: normal;
    overflow: auto;
  }

  .right-bottom-bar {
    display: block;
  }

  .total-footer-mobile {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
}
