
  <div class="build-a-board">
    <h2> Build A Board</h2>
    <p>Customise all the features of your wakeboard to create your own dream board. You can choose your board shape, length and construction. We have a range of top sheets, base designs and side wall colours. Of if you have your own design you want to see on your board, we can add that to your board. The possibilites are endless!</p>
    <div *ngIf="!dataLoaded">
      <div class="loader">Loading...</div>
    </div>
  </div>
<div class="customiser" *ngIf="dataLoaded">
  <div class="main-image-holder">

    <div class="right-bar desktop">
      <h2 class="current-config">Your Wakeboard</h2>
      <h4 class="subheading">Shape</h4>
      <div class="config-container">
        <p class="config-content">{{selectedShape.friendly_name}}</p>
        <p class="cost">${{selectedShape.base_price}}</p>
      </div>
      <h4 class="subheading">Length</h4>
      <div class="config-container">
        <p class="config-content">{{selectedLength.length}}cm</p>
        <p class="cost">${{selectedLength.base_price}}</p>
      </div>
      <h4 class="subheading">Construction</h4>
      <div class="config-container">
        <p class="config-content">{{selectedConstruction.friendly_name}}</p>
        <p class="cost">${{selectedConstruction.base_price}}</p>
      </div>
      <h4 class="subheading">Topsheet</h4>
      <div class="config-container">
        <p class="config-content">{{selectedTopsheet.friendly_name}}</p>
        <p class="cost">${{selectedTopsheet.base_price}}</p>
      </div>
      <h4 class="subheading">Base</h4>
      <div class="config-container">
        <p class="config-content">{{selectedBase.friendly_name}}</p>
        <p class="cost">${{selectedBase.base_price}}</p>
      </div>
      <h4 class="subheading">Sidewall</h4>
      <div class="config-container">
        <p class="config-content">{{selectedSidewall.friendly_name}}</p>
        <p class="cost">${{selectedSidewall.base_price}}</p>
      </div>
      <div class="total-footer">
        <span class="total">Total: <span>${{totalCost}}</span></span>
      </div>
    </div>
    <div class="boards">
      <div class="board">
        <h2>Top</h2>
        <img [hidden]="leftImageLoading != false" [src]="selectedTopsheet.images[selectedShapeName].high_res_image" (load)="cancelLoader('999'); leftImageLoading = false;">
        <img *ngIf="leftImageLoading == true" [src]="selectedShapeLoader">
        <div class="board-loader-container">
          <div class="loader1" id="loader999">Loading...</div>
        </div>
      </div>
      <div class="board">
        <h2>Bottom</h2>
        <img [hidden]="rightImageLoading != false" [src]="selectedBase.images[selectedShapeName].high_res_image" (load)="cancelLoader('998'); rightImageLoading = false;">
        <img *ngIf="rightImageLoading == true" [src]="selectedShapeLoader">
        <div class="board-loader-container">
          <div class="loader1" id="loader998">Loading...</div>
        </div>
      </div>
    </div>
  </div>
  <nav class="bottom-nav-customiser">
    <div class="bar">
      <div (click)="area = 0" [class]="getArea(0)">
        <span>Shape</span>
      </div>
      <div (click)="area = 1" [class]="getArea(1)">
        <span>Length</span>
      </div>
      <div (click)="area = 2" [class]="getArea(2)">
        <span>Construction</span>
      </div>
      <div (click)="area = 3" [class]="getArea(3)">
        <span>Topsheet</span>
      </div>
      <div (click)="area = 4" [class]="getArea(4)">
        <span>Base</span>
      </div>
      <div (click)="area = 5" [class]="getArea(5)">
        <span>Sidewall</span>
      </div>
    </div>
    <div class="bottom-choice">
      <div *ngIf="area == 0" class="shape">
        <div *ngFor="let shape of shapesSorted; let i = index" [class]="getSelectedShape(shape)[0]" (click)="selectedShape = shape; selectedShapeLoader = '../../../assets/' + selectedShape['name'] + '.png'; selectedShapeName = selectedShape['name']; reRun(); calculateTotal();">
          <h2>{{shape.friendly_name}}</h2>
          <img [style.display]="getSelectedShape(shape)[1]" class="tick" src="../../../assets/tick.png">
        </div>
      </div>

      <div *ngIf="area == 1" class="lengths">
          <div *ngFor="let length of lengthsUnsorted; let i = index" (click)="selectedLength = length; calculateTotal();">
            <div [class]="getSelectedLength(length)[0]">
              <h2>{{length.length}}cm</h2>
              <img [style.display]="getSelectedLength(length)[1]" class="tick" src="../../../assets/tick.png">
            </div>
          </div>
      </div>

      <div *ngIf="area == 2" class="construction">
        <div class="construction-inner">
          <div *ngFor="let construction of constructionsSorted; let i = index" (click)="selectedConstruction = construction; calculateTotal(); checkConstruction();">
            <div [class]="getSelectedConstruction(construction)[0]">
              <img class="item-image animated fadeInDown" [src]="construction.photo_url">
              <img [style.display]="getSelectedConstruction(construction)[1]" class="tick" src="../../../assets/tick.png">
            </div>
          </div>
        </div>

        <div class="construction-inner" *ngIf="this.selectedConstruction['base_tek'] != undefined">
          <div *ngFor="let baseTek of baseTekUnsorted; let i = index" (click)="selectedBaseTek = baseTek; calculateTotal();">
            <div [class]="getSelectedBaseTek(baseTek)[0]">
              <h2>{{baseTek.friendly_name}}</h2>
              <img [style.display]="getSelectedBaseTek(baseTek)[1]" class="tick" src="../../../assets/tick.png">
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="area == 3" class="topsheet mobile">
        <div *ngFor="let topsheet of topsheets; let i = index" [class]="getSelectedTopsheets(topsheet)[0]" (click)="selectedTopsheet = topsheet; calculateTotal(); setLeftImageLoading();">
          <img [hidden]="!topsheetsLoadedMobile[i]" class="item-image animated" [src]="topsheet.images[selectedShapeName].low_res_image" (load)="topsheetsLoadedMobile[i] = true">
          <img [hidden]="topsheetsLoadedMobile[i]" class="item-image animated fadeInDown" [src]="selectedShapeLoader">
          <img [style.display]="getSelectedTopsheets(topsheet)[1]" class="tick" src="../../../assets/tick.png">
        </div>
      </div>
      <div *ngIf="area == 3" class="topsheet desktop">
        <span (click)="previousTopsheet()"><i class="fas fa-arrow-circle-left"></i></span>
        <div *ngFor="let topsheet of topsheetsSorted; let i = index" [class]="getSelectedTopsheets(topsheet)[0]" (click)="selectedTopsheet = topsheet; calculateTotal(); setLeftImageLoading();">
          <img [hidden]="!topsheetsLoaded[i]" class="item-image animated" [src]="topsheet.images[selectedShapeName].low_res_image" (load)="topsheetsLoaded[i] = true;">
          <img [hidden]="topsheetsLoaded[i]" class="item-image animated fadeInDown" [src]="selectedShapeLoader">
          <img [style.display]="getSelectedTopsheets(topsheet)[1]" class="tick" src="../../../assets/tick.png">
        </div>
        <span (click)="nextTopsheet()"><i class="fas fa-arrow-circle-right"></i></span>
      </div>
      <div *ngIf="area == 4" class="base mobile">
        <div *ngFor="let base of bases; let i = index" [class]="getSelectedBase(base)[0]" (click)="selectedBase = base; calculateTotal(); setRightImageLoading();">
          <img [hidden]="!basesLoadedMobile[i]" class="item-image animated" [src]="base.images[selectedShapeName].low_res_image" (load)="basesLoadedMobile[i] = true">
          <img [hidden]="basesLoadedMobile[i]" class="item-image animated fadeInDown" [src]="selectedShapeLoader">
          <img [style.display]="getSelectedBase(base)[1]" class="tick" src="../../../assets/tick.png">
        </div>
      </div>
      <div *ngIf="area == 4" class="base desktop">
        <span (click)="previousBase()"><i class="fas fa-arrow-circle-left"></i></span>
        <div *ngFor="let base of basesSorted; let i = index" [class]="getSelectedBase(base)[0]" (click)="selectedBase = base; calculateTotal(); setRightImageLoading();">
          <img [hidden]="!basesLoaded[i]" class="item-image animated" [src]="base.images[selectedShapeName].low_res_image" (load)="basesLoaded[i] = true">
          <img [hidden]="basesLoaded[i]" class="item-image animated fadeInDown" [src]="selectedShapeLoader">
          <img [style.display]="getSelectedBase(base)[1]" class="tick" src="../../../assets/tick.png">
        </div>
        <span (click)="nextBase()"><i class="fas fa-arrow-circle-right"></i></span>
      </div>


      <div *ngIf="area == 5" class="sidewall mobile">
        <div *ngFor="let sidewall of sidewalls; let i = index" [style.background-color]="sidewall.color_code" [class]="getSelectedSidewall(sidewall)[0]" (click)="selectedSidewall = sidewall; calculateTotal();">
          <img [style.display]="getSelectedSidewall(sidewall)[1]" class="tick" src="../../../assets/tick.png">
        </div>
      </div>
      <div *ngIf="area == 5" class="sidewall desktop">
        <span (click)="previousSidewall"><i class="fas fa-arrow-circle-left"></i></span>
        <div *ngFor="let sidewall of sidewallsSorted; let i = index" [style.background-color]="sidewall.color_code" [class]="getSelectedSidewall(sidewall)[0]" (click)="selectedSidewall = sidewall; calculateTotal();">
          <img [style.display]="getSelectedSidewall(sidewall)[1]" class="tick" src="../../../assets/tick.png">
        </div>
        <span (click)="nextSidewall()"><i class="fas fa-arrow-circle-right"></i></span>
      </div>
    </div>
  </nav>
  <div class="bottom-bar">
    <div class="previous" *ngIf="area != 0" (click)="previousArea()">
      <span class="hvr-shutter-out-horizontal">Previous</span>
    </div>
    <div class="next" (click)="nextArea()">
      <span *ngIf="area != 5" class="hvr-shutter-out-horizontal">Next</span>
      <span *ngIf="area == 5" class="hvr-shutter-out-horizontal">Add To Cart</span>
    </div>
  </div>
  <div class="right-bottom-bar mobile">
    <h2 class="current-config">Your Wakeboard</h2>
    <h4 class="subheading">Shape</h4>
    <div class="config-container">
      <p class="config-content">{{selectedShape.friendly_name}}</p>
      <p class="cost">${{selectedShape.base_price}}</p>
    </div>
    <h4 class="subheading">Length</h4>
    <div class="config-container">
      <p class="config-content">{{selectedLength.length}}cm</p>
      <p class="cost">${{selectedLength.base_price}}</p>
    </div>
    <h4 class="subheading">Construction</h4>
    <div class="config-container">
      <p class="config-content">{{selectedConstruction.friendly_name}}</p>
      <p class="cost">${{selectedConstruction.base_price}}</p>
    </div>
    <h4 class="subheading">Topsheet</h4>
    <div class="config-container">
      <p class="config-content">{{selectedTopsheet.friendly_name}}</p>
      <p class="cost">${{selectedTopsheet.base_price}}</p>
    </div>
    <h4 class="subheading">Base</h4>
    <div class="config-container">
      <p class="config-content">{{selectedBase.friendly_name}}</p>
      <p class="cost">${{selectedBase.base_price}}</p>
    </div>
    <h4 class="subheading">Sidewall</h4>
    <div class="config-container">
      <p class="config-content">{{selectedSidewall.friendly_name}}</p>
      <p class="cost">${{selectedSidewall.base_price}}</p>
    </div>
    <div class="total-footer-mobile">
      <span class="total">Total: <span>${{totalCost}}</span></span>
    </div>
  </div>
</div>
