<div class="section-title">
  <h2>SHIPPING INFO</h2>
</div>

<div class="boxed">
  <h2>DOMESTIC</h2>
  <p class="text-info">
    All boards will be shipped via Australia Post complete with tracking. We offer a flat rate Australia wide price of $20. If you cannot live another day without your new board please contact us for express shipping costs.
  </p>
  <h2>INTERNATIONAL</h2>
  <p class="text-info">
    We offer special rates depending on which area we will be shipping to. Please contact us for costs.
  </p>
</div>
