.products {
  font-family: 'Martel Sans', sans-serif;
  display: flex;
  margin: 20px 0 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  margin: 0 20px;
  width: 250px;
  text-align: center;
}

.product-image img {
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  width: 100%;
}

.section-title {
  margin: 50px auto;
}

.product-info {
  margin-top: auto;
}

.products h5 {
  margin: 10px 0 0;
  font-size: 1.2em;
}
.products h6 {
  font-weight: 400;
  margin: 0;
  font-size: 1.4em;
}



.product-image {
  position: relative;
}
.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  top: 0;
  left: 0;
  position: absolute;
}
