<div class="section-title">
  <h2>APPAREL</h2>
</div>

<div *ngIf="loading" class="loader">Loading...</div>

<section class="products">
  <a *ngFor="let item of apparelData; let i = index"  [routerLink]="'/product/' + item.name">
    <div class="product-card">
      <div class="product-image">
        <img [src]="item.photo_url" (load)="cancelLoader(i)" class="hvr-grow">
        <div class="loader-container">
          <div class="loader1" [id]="'loader' + i">Loading...</div>
        </div>
      </div>
      <div class="product-info">
        <h5>{{item.friendly_name}}</h5>
        <h6>${{item.price}}</h6>
      </div>
    </div>
  </a>
</section>
