<div *ngIf="loading" class="loader">Loading...</div>
<section *ngIf="loading == false">

  <section class="section-product">
    <div class="left-content">
      <img [src]="product.photo_url" id="id-image" class="product-image">
    </div>

    <div class="right-content">
      <h1 class="product-title">{{product.friendly_name}}</h1>
      <span class="price">Price: <h2 class="price-value">${{product.price}}</h2></span>
      <p class="description">{{product.description}}</p>
      <button class="hvr-shutter-out-horizontal desktop" (click)="addToCart(product, 1)">Add to Cart</button>
      <button class="hvr-shutter-out-horizontal mobile" (click)="addToCart(product, 1)" routerLink="/cart">Add to Cart</button>
    </div>
  </section>
</section>
