.product-title {
  font-size: 1.5em;
  margin-bottom: 0;
  font-family: 'Martel Sans', sans-serif;
}

.section-product {
  font-family: 'Martel Sans', sans-serif;
  width: 960px;
  max-width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-image {
  height: 400px;
}

.price-value {
  font-weight: 400;
  display: inline;
}

.description {
  margin: 20px 0 40px;
}

.left-content {
  height: 100%;
  margin-right: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-content img {
  max-width: 300px;
  height: auto;
}

.right-content {
  height: 100%;
  flex: 1;
}

.product-image {
  height: 400px;
  display: block;
  margin: 0 auto;
}

button {
  padding: 10px 30px;
  background-color: #2d2d2d;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: none;
}

button:hover {
  cursor: pointer;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .section-product {
    display: block;
  }

  .right-content {
    margin: 0 auto;
    width: 90%;
  }

  button {
    display: block;
    width: 100%;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
