<div class="wrapper">
  <nav class="secondary-nav no-print">
    <div class="secondary-nav-inner">

      <div class="flex start">
        <img class="top-logo no-print" src="../assets/logo.png">
      </div>

      <div class="flex cta-container">
        <span class="cta">Try our new <a (click)="closeMenu()" routerLink="/customiser">Wakeboard Customiser</a></span>
        <a class="cart" routerLink="/cart"><span class="fa-stack fa-2x has-badge">
          <span *ngIf="cartCount > 0" [class]="countClass">{{cartCount}}</span>
          <i class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
        </span></a>
      </div>
    </div>
  </nav>

  <div class="primary-container">
    <nav class="primary-nav no-print">
      <nav class="menu-mobile-toggle" (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </nav>
      <span class="menu mobile animated flipInX" *ngIf="mobileMenuToggled">
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/home" routerLinkActive="active"><span>Home</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/phantom-boards" routerLinkActive="active"><span>Phantom</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/magnetic-boards" routerLinkActive="active"><span>Magnetic</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/customiser" routerLinkActive="active"><span>Build a Board</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/apparel" routerLinkActive="active"><span>Apparel</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/about-us" routerLinkActive="active"><span>About Us</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/shipping-info" routerLinkActive="active"><span>Shipping Info</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/returns-and-refunds" routerLinkActive="active"><span>Returns & Refunds</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/contact-us" routerLinkActive="active"><span>Contact</span></a>
        <a (click)="closeMenu()" class="menu-item-main" routerLink="/cart" routerLinkActive="active"><span>My Cart</span></a>

      </span>
      <span class="menu desktop">
        <a class="menu-item-main" routerLink="/home" routerLinkActive="active"><span>Home</span></a>
        <div class="dropdown">
          <a routerLinkActive="active"><span>Boards <i class="fas fa-chevron-down"></i></span></a>
          <div class="dropdown-content">
            <a routerLink="/phantom-boards">Phantom</a>
            <a routerLink="/magnetic-boards">Magnetic</a>
            <a routerLink="/customiser">Build a Board</a>
          </div>
        </div>
        <a class="menu-item-main" routerLink="/apparel" routerLinkActive="active"><span>Apparel</span></a>
        <a class="menu-item-main" routerLink="/about-us" routerLinkActive="active"><span>About Us</span></a>
        <div class="dropdown">
          <a routerLinkActive="active"><span>News & Info <i class="fas fa-chevron-down"></i></span></a>
          <div class="dropdown-content">
            <a routerLink="/shipping-info">Shipping Info</a>
            <a routerLink="/returns-and-refunds">Returns & Refunds</a>
          </div>
        </div>
        <a class="menu-item-main" routerLink="/contact-us" routerLinkActive="active"><span>Contact</span></a>

      </span>
    </nav>

    <router-outlet></router-outlet>
    <!-- Routed views go here -->


  </div>
</div>


<span class="payment-logos no-print">
  <img class="payment" src="../assets/paypal.png">
  <img class="payment" src="../assets/afterpay.png">
</span>
<div class="footer no-print">
  <span>COPYRIGHT © 2018 FORTY8TEN</span>
</div>
