.secondary-nav {
  background-color: #2d2d2d;
  height: 78px;
  color: #f2f2f2;
  padding: 0 40px;
}

@media print
{
  .invoice {
    border: none !important;
  }
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.secondary-nav-inner {
  max-width: 1500px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.menu.desktop {
  padding: 20px;
  background-color: #4cb4df;
  color: white;
}

.payment-logos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.payment {
  width: 100px;
  margin: 20px;
}

.flex {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.start {
  justify-content: flex-start;
  height: 100%;
}

.primary-container {
  margin: 0 auto;
}

.cta {
  font-weight: lighter;
  right: 0;
}

.cta a {
  font-weight: normal;
}

.top-logo {
  width: auto;
  height: 80%;
}

.spacer {
  display: block;
  width: 80%;
  margin: 10px auto 20px;
  border-bottom: 1px solid #4cb4df;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  font-weight: 700;
}

.menu a {
  padding: 0 20px;
}

.menu a i, .menu a svg {
  font-size: 0.8em;
  margin-left: 5px;
}

.footer {
  padding: 10px;
  color: white;
  background-color: #4cb4df;
}

.footer span {
  display: block;
  text-align: center;
  font-size: 0.9em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.cta-container {

}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 20px 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}


.dropdown:hover .dropdown-content {
    display: block;
}

.fa-stack {
  margin-left: 20px;
}

.count {
  position:absolute;
  right:5%;
  top:20%;
  font-size:10px;
  padding:.6em;
  border-radius:999px;
  background-color: white;
  line-height:.75em;
  color: white;
  z-index: 99;
  color:grey;
  text-align:center;
  font-weight:bold;
  border-style:solid;
}

.red-cart {
  padding-top: 10px;
  z-index: 1;
	color: #4cb4df;
  font-size: 15px;
}

.menu-mobile-toggle {
  padding: 20px;
}

.menu-mobile-toggle {
  display: none;
}

@media only screen and (max-width: 900px) {

  .cta-container {
    display: none;
  }

  .flex.start {
    justify-content: center;
  }

  .top-logo {
    max-width: 80%;
  }

  .social, .cart {
    display: none;
  }

  .menu-mobile-toggle {
    font-size: 2em;
    display: block;
    text-align: center;
  }

  .mobile {
    animation-duration: 0.5s;
  }

  .menu {
    display: block;
    width: 100%;
    align-items: center;
    font-weight: 700;
    background-color: #4d4d4d;
  }

  .menu .menu-item-main, .menu .dropdown {
    border-bottom: 2px solid black;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: block;
    width: 100%;
  }

  .menu a i, .menu a svg {
    font-size: 0.8em;
    margin-left: 5px;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      width: 100%;
      animation-duration: 0.5s;
      position: absolute;
      padding: 20px 0;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {background-color: #ddd}


  .dropdown:hover .dropdown-content {
      display: block;
  }

  .desktop {
    display: none;
  }

}
