<div class="invoice" *ngIf="user != undefined && purchase != undefined">
  <div class="invoice-header">
    <div class="row">
      <div class="col-xs-8">
        <h1>Purchase Reciept</h1>
        <h4 class="text-muted">NO: {{purchase.cart}} | Date: {{date}}</h4>
      </div>
      <div class="col-xs-4">
        <div class="media">
          <div class="media-left">
            <img class="media-object logo" src="../../../assets/logo_dark.png">
          </div>
          <ul class="list-unstyled">
            <li><strong>Forty8ten Wakeboards</strong></li>
            <li>Wakeboard Builder</li>
            <li>Townsville</li>
            <li>info@forty8ten.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="invoice-body">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Company Details</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd><strong>Forty8ten Wakeboards</strong></dd>
          <dt>Industry:</dt>
          <dd>Wakeboard Building</dd>
          <dt>Address:</dt>
          <dd>Townsville</dd>
          <dt>Phone:</dt>
          <dd>07 4779 8473</dd>
          <dt>Email:</dt>
          <dd>info@forty8ten.com</dd>
          <dt>ABN:</dt>
          <dd>123456789</dd>
        </dl>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer Details</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Name:</dt>
          <dd>{{purchase.payer.payer_info.first_name}} {{purchase.payer.payer_info.last_name}}</dd>
          <dt>Address:</dt>
          <dd>{{purchase.payer.payer_info.shipping_address.line1}}, {{purchase.payer.payer_info.shipping_address.postal_code}}, {{purchase.payer.payer_info.shipping_address.city}}, {{purchase.payer.payer_info.shipping_address.state}}</dd>
          <dt>Email:</dt>
          <dd>{{purchase.payer.payer_info.email}}</dd>
          <dt>&nbsp;</dt>
          <dd>&nbsp;</dd>
      </dl></div>
    </div>
  </div>
  <table>
  <caption>Statement Summary</caption>
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of user; let i = index;">
      <td *ngIf="item.product.type == 'custom'">Custom Build Wakeboard</td>
      <td *ngIf="item.product.type != 'custom'">{{item.product.friendly_name}}</td>

      <td *ngIf="item.product.type == 'custom'">
        <ul>
          <li>Shape: <strong>{{item.product.shape.friendly_name}}</strong></li>
          <li>Size: <strong>{{item.product.length.length}}cm</strong></li>
          <li>Construction: <strong>{{item.product.construction.friendly_name}}</strong></li>
          <li *ngIf="item.product.baseTek != undefined">Base Tek: <strong>{{item.product.baseTek.friendly_name}}</strong></li>
          <li>Topsheet: <strong>{{item.product.topsheet.friendly_name}}</strong></li>
          <li>Base: <strong>{{item.product.base.friendly_name}}</strong></li>
          <li>Sidewall Color: <strong>{{item.product.sidewall.friendly_name}}</strong><span [style.background]="item.product.sidewall.color_code" class="colorTag"></span></li>
        </ul>
      </td>
      <td *ngIf="item.product.type != 'custom'">{{item.product.description}}</td>
      <td>{{item.quantity}}</td>
      <td *ngIf="item.product.type == 'custom'">${{item.product.total * item.quantity}}</td>
      <td *ngIf="item.product.type != 'custom'">${{item.product.price * item.quantity}}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b>Amount Paid</b></td>
    </tr><tr>
      <td></td>
      <td></td>
      <td></td>
      <td>${{purchase.transactions[0].amount.total}}</td>
    </tr>
  </tbody>
</table>
<br>
<br>
<table>
<thead>
  <tr>
    <th scope="col">Payment Information</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Paid in full using paypal. Invoice Id: {{purchase.id}}</td>
  </tr>
</tbody>
</table>
<br>
<div class="invoice-footer">
    Thank you for choosing our services.
    <br/> We hope to see you again soon
    <br/>
    <strong>~Forty8ten~</strong>
</div>
</div>
