.hero {
  width: 100%;
  height: 400px;
  display: block;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: fill;
  background-image: url("../../../assets/wave-header.jpg");
  margin-bottom: 0;
}

.cards {
  margin: 0 auto;
}

.card {
  height: 400px;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 33.33%;
  padding: 0;
  margin: 0;
}

.hvr-shutter-in-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hvr-shutter-in-horizontal:before {
  background: rgba(0,0,0,0.7);
}

.hvr-shutter-in-horizontal:after {
  color: white;
  font-size: 2em;
  font-weight: 700;
  padding:15px 30px;
}

.phantom:after {
  content: "Phantom Boards";
}

.magnetic:after {
  content: "Magnetic Boards";
}

.apparel:after {
  content: "Apparel";
}


.banner {
  clear: left;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.banner-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner-color {
 position: absolute;
 border-left: 5px solid #4cb4df;
 transform:skew(-30deg);
 background-color: #2d2d2d;
 height: 100%;
 top: 0;
 right: -180px;
 width: 60%;
}

.banner .header {
  color: white;
  font-size: 2em;
  text-align: center;
  display: block;
}

.banner strong {
  font-size: 1.3em;
}

.banner .body {
  font-size: 1.2em;
  max-width: 600px;
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: 200;
  font-family: "Montserrat", Helvetica, sans-serif;

}

.banner-text {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 42%;
  max-width: 700;
}

.card-label {
  background-color: rgba(255,255,255,0.9);
  font-family: 'Martel Sans', sans-serif;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #2d2d2d;
  font-size: 1.4em;
}

.section-title h2 {
  display: block;
  margin-bottom: 30px;
  background-color: #f2f2f2 !important;
  color: #2d2d2d;
}

.shop {
  background-color: #f2f2f2;
}

.shop h2 {
  font-size: 1.7em;
  font-weight: 700;
}

.customiser-cta {
  box-sizing: border-box;
  text-align: center;
  background-color: #2d2d2d;
  color: #f2f2f2;
  padding: 70px 10px;
  padding-bottom: 90px;
}

.customiser-cta a {
  padding:10px 20px;
  background-color: #4cb4df;
  color: white;
}

.customiser-cta a:hover {
  cursor: pointer;
}

.customiser-cta strong {
  font-size: 1.3em;
}

.customiser-cta .body {
  font-size: 1.2em;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  text-align: center;
  font-weight: 200;
  font-family: "Montserrat", Helvetica, sans-serif;

}

.customiser-cta .header {
  color: white;
  font-size: 2em;
  text-align: center;
  display: block;
}

@media only screen and (max-width: 900px) {

  .banner-image, .banner-color  {
    display: none;
  }

  .banner-text {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 30px 10px;
    background-color: #2d2d2d;
  }

  .banner {
    height: auto;
  }

  .hero {
    border-radius: 0;
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .customiser-cta h1 {
    font-size: 1.2em;
  }

  .customiser-cta p {
    font-size: 0.9em;
  }

  .customiser-cta {
    border-radius: 0;
  }

  .cards {
    display: block;
  }

  .cards a {
    display: block;
  }

  .card {
    width: 100%;
    float: none;
    margin: 0 auto;
  }

}
