<div class="hero"></div>

<div class="customiser-cta">
  <span class="header"><strong>DIY</strong><br>build a board is now live!</span>
  <p class="body">With our custom wakeboard builder you can get the board you want. Select your shape and choose from our awesome top and bottom sheets. Pick a side wall color and you'll be hitting the wake withing 2 weeks. Click the button below and give our builder a try.</p>
  <a routerLink="/customiser" class="hvr-shutter-out-horizontal">Build a Board Now!</a>
</div>

<section class="shop">
  <div class="cards">
    <a routerLink="/magnetic-boards"><div class="card hvr-shutter-in-horizontal magnetic" style="background-image: url('../../assets/magnetic.jpg')">
    </div></a>
    <a routerLink="/apparel"><div class="card hvr-shutter-in-horizontal apparel" style="background-image: url('../../assets/apparel.jpg')">
    </div></a>
    <a routerLink="/phantom-boards"><div class="card hvr-shutter-in-horizontal phantom" style="background-image: url('../../assets/phantom.jpg')">
    </div></a>

  </div>
</section>

<section class="banner who-we-are">
  <img src="./assets/wake-banner.jpg" class="banner-image">
  <div class="banner-color"></div>
  <div class="banner-text">
    <span class="header"><strong>Wakeboards</strong><br>built to prefection.</span>
    <p class="body">Hand crafted and cared for every step of the way. Built by expert craftsmen and made to perfection. Every wakeboard made by our crew goes through vigorous visual inspection so your board arrives exactly how you expect.</p>
  </div>
</section>
