.centered {
  text-align: center;
}

.section-title {
  margin: 50px auto 10px;
}

form {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.contact-details {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 60px;
}

.field-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  padding: 0px 30px 10px;
  flex: 1;
}

form input, form textarea {
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #4cb4df;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 1.3em;
  width: 100%;
}

form button {
  padding: 10px 20px;
  font-size: 1.3em;
  width: 200px;
  max-width: 100%;
  margin: 0 auto 50px;
  border-radius: 6px;
  background-color: #000;
  color: white;
  border: none;
}

.hvr-shutter-out-horizontal:before {
  border-radius: 6px;
}

form button:hover {
  cursor: pointer;
}
