<div class="section-title">
  <h2>CONTACT US</h2>
</div>

<p class="text-info centered">
  If you require any further information on our products please don't hesitate to send us an email below. We are here to help you get your board exactly how you want it.
</p>
<div class="contact-details">
  <h3>Forty8ten Wakeboards</h3>
  <h3>Phone - +61 400180218</h3>
  <h3>Email - forty8tenwakeboards@gmail.com</h3>
</div>


<form method="post" accept-charset="UTF-8" class="contact-form">
  <div class="field-container">
    <div class="field">
      <input type="text" id="contactFormName" name="contact[name]" placeholder="Name">
    </div>
    <div class="field">
      <input type="email" id="contactFormEmail" name="contact[email]" placeholder="Email">
    </div>
    <div class="field">
        <input type="text" id="contactFormTelephone" name="contact[phone]" placeholder="Phone Number">
    </div>
  </div>
  <div class="field-container">
    <div class="field">
        <textarea rows="10" cols="90" id="contactFormMessage" name="contact[body]" placeholder="Message"></textarea>
        <button type="submit" class="button hvr-shutter-out-horizontal">Send</button>
    </div>
  </div>
</form>
