* {
  box-sizing: border-box;
}
.shopping-cart {
  width: 750px;
  margin: 80px auto 10px;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.flex {
  flex: 1;
}

.pre-footer {
  padding: 100px 0;
  font-size: 0.8em;
  color: #86939E;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

.custom-board {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom-board .image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.custom-board .flex .quantity {
  padding: 0;
  margin: 0;
}

.custom-board .flex .total-price {
  width: 100%;
  text-align: center;
  margin: 0;
}

.custom-board h2, .custom-board strong{
  font-weight: 400;
  color: #86939E;
}

.custom-board p {
  font-size: 14px;
  font-weight: 300;
}

.custom-board ul, .custom-board li {
  list-style: none;
}

.custom-board .flex .description {
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.hover-pointer:hover {
  cursor: pointer
}

.image-cart {
  max-width: 100px;
}

.item {
  padding: 20px 30px;
  display: flex;
  border-bottom: 1px solid #E1E8EE;
}

.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  padding-top: 10px;
  text-align: center;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
.quantity {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline:0;
}
.total-price {
  padding-top: 27px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.empty-cart {
  padding: 40px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #5E6977;
}

.empty-cart button{
  padding: 10px 30px;
  background-color: #5E6977;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
}

.empty-cart button:hover {
  background-color: #2d2d2d;
  cursor: pointer;
}

.total {
  float: right;
}

#paypal-button {
  width: 750px;
  margin: 0 auto;
  text-align: right;
}

@media (max-width: 800px) {
  .custom-board {
    flex-direction: column;
  }

  .shopping-cart {
    margin: 0 auto 10px;
  }

  .flex:last-child {
    padding: 20px;
    background-color: #f2f2f2;
    margin-top: 20px;
  }

  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  #paypal-button {
    width: 100%;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
