<div class="shopping-cart">
  <!-- Title -->
  <div class="title">
    Your Cart
  </div>
  <div *ngIf="cartData == null || cartData.length == 0" class="empty-cart">
    <span>
      Whoops! Your cart is empty. Head back to our shop and check out our items.
    </span>
    <button routerLink="/home">Home</button>
  </div>
  <div *ngIf="cartData != null && cartData.length != 0" >
    <div *ngFor="let cartItem of cartData; let i = index" class="item">
      <div *ngIf="cartItem.product.type != 'custom'">
        <div class="image">
          <img [src]="cartItem.product.photo_url" class="image-cart" />
        </div>

        <div class="description">
          <span>{{cartItem.product.friendly_name}}</span>
          <span>{{cartItem.product.description}}</span>
        </div>

        <div class="quantity">
          <a (click)="addOne(i)" class="hover-pointer"><i class="fas fa-plus"></i></a>
          <input type="text" name="name" [value]="cartItem.quantity">
          <a (click)="takeOne(i)" class="hover-pointer"><i class="fas fa-minus"></i></a>
        </div>
        <div class="total-price"><span>${{cartItem.product.price}}</span></div>
      </div>

      <!-- Custom Board -->
      <div *ngIf="cartItem.product.type == 'custom'" class="custom-board">
        <div class="flex">
          <div class="image">
            <img [src]="cartItem.product.topsheet.images[cartItem.product.shape.name].low_res_image" class="image-cart" />
            <img [src]="cartItem.product.base.images[cartItem.product.shape.name].low_res_image" class="image-cart" />
          </div>

          <div class="description">
            <span>Custom Board</span>
          </div>

          <div class="quantity">
            <a (click)="addOne(i)" class="hover-pointer"><i class="fas fa-plus"></i></a>
            <input type="text" name="name" [value]="cartItem.quantity">
            <a (click)="takeOne(i)" class="hover-pointer"><i class="fas fa-minus"></i></a>
          </div>
          <div class="total-price"><span>${{cartItem.product.total}}</span></div>
        </div>
        <div class="flex">
          <h2>Your New Wakeboard</h2>
          <ul>
            <li>
              <strong>Shape: </strong>{{cartItem.product.shape.friendly_name}}
            </li>
            <li>
              <strong>Length: </strong>{{cartItem.product.length.length}}cm
            </li>
            <li>
              <strong>Construction: </strong>{{cartItem.product.construction.friendly_name}}
            </li>
            <li>
              <strong>Topsheet: </strong>{{cartItem.product.topsheet.friendly_name}}
            </li>
            <li>
              <strong>Base: </strong>{{cartItem.product.base.friendly_name}}
            </li>
            <li>
              <strong>Sidewall: </strong>{{cartItem.product.sidewall.friendly_name}}
            </li>
          </ul>
          <p>Your new wakeboard will be built fresh for you and be delivered to your door within 2 weeks. We will provide you tracking when the board has been shipped.</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="cartData != null && cartData.length != 0" class="title">
    Total
    <span class="total">${{totalCartPrice}}</span>
  </div>
</div>
<div [hidden]="cartData == null || cartData.length == 0" id="paypal-button"></div>
<p class="pre-footer">Forty8ten Wakeboards uses paypal and Afterpay as our payment providers for your safety and ease of use. While using the payment gateways of the providers you will be in a sandbox they manage and Forty8ten stores no card or authentication data.</p>
