.container-404 {
  padding: 100px 0 150px;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Martel Sans', sans-serif;
}

.container-404 h1 {
  text-align: center;
  margin-bottom: 10px;
}

.container-404 p {
  margin-top: 0;
  text-align: center;
}

.container-404 a{
  padding: 5px 20px;
  font-size: 0.8em;
  background-color: black;
  border-radius: 5px;
  color: #f2f2f2;
}
