.center-image {
  border-radius: 10px;
  border: 1px solid #2d2d2d;
  margin: 20px auto;
  display: block;
  max-width: 300px;
}

.section-title {
  margin: 50px auto 10px;
}

.button {
  border-radius: 0;
}
