<div class="section-title">
  <h2>ABOUT US</h2>
</div>

<p class="text-info">
  Living in the tropics of North Queensland, Australia means summer all year round. This makes it the ideal place to build high quality wake boards because we are able to constantly test products on the water. We go out and shred and then get straight back to the factory to play around with the product and get everything dialled to perfection.

  We have had a passion for wakeboarding ever since the beginning of the sport and when we are not building boards you will find us out on the river. Over the years and riding different boards we found our crew was craving a more personalised handmade quality board and so began Forty8ten Wakeboards.

  It was only fitting that this company would be started with a focus to give the customer exactly what they want in a boat or cable board. We have perfected all aspects of these boards from the quality of the materials to the flex and ride. This means that your board looks exactly how you want and performs faultlessly.  When you buy a board from Forty8ten, it means your getting a wakeboard built by a wakeboarder for a wakeboarder focusing on quality over quantity and making sure your ride is as good as ours.
</p>

<img class="center-image" src="../../assets/jump-wake.jpg">
