<div class="section-title">
  <h2>RETURNS & REFUNDS</h2>
</div>
<div class="boxed">
  <h2>BOARDS</h2>
  <p class="text-info">
    All boards come with a one year warranty for manufacturers faults. Please note this does not include user's wear and tear.
  </p>
  <h2>CLOTHING AND APPAREL</h2>
  <p class="text-info ">
    Please choose carefully as we do not accept returns unless the item is faulty, in which case please contact us at forty8tenwakeboards@gmail.com.
  </p>
</div>
