/* You can add global styles to this file, and also import other style files */
body, html {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  height: 100%;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.boxed {
  width: 80%;
  margin: 0 auto;
}

.text-info {
  font-family: 'Martel Sans', sans-serif;
  width: 80%;
  margin: 0 auto;
}

.section-title {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  background-color: #f2f2f2;
  position: relative;
  z-index: 0;
}

.section-title h2 {
  font-family: 'Martel Sans', sans-serif;
  font-weight: lighter;
  display: inline;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #2d2d2d;
  background: -moz-linear-gradient(left, #4cb4df 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #4cb4df 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #4cb4df 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #4cb4df 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #4cb4df 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #4cb4df;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #f2f2f2;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.loader1,
.loader1:before,
.loader1:after {
  background: #4cb4df;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader1 {
  color: #4cb4df;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader1:before,
.loader1:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader1:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader1:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
